
body{
  background-color: grey;
  background-image:url(img/girl.gif)
}

h1{
  font-style: bold;
  color:black;
  font-size: 40px;
}

p1{
  color:black;
  font-size: 25px;
  width:25%;
  float: left;
  padding-right:5%;

}
p2{
  color:black;
  font-size: 25px;
  width:75%;
  float:center;
  text-align:center;
}

p3{
  color:black;
  font-size: 25px;
  width:25%;
  float: right;
  padding-left:5%;
}
