html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: pink;
}

header {
  background: #55296c;
  height: 80px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 80px;
  margin: 0;
}

section {
  display: flex;
  flex-flow: row wrap;
}

article {
  padding: 10px;
  margin: 10px;
  background: #d0b0e1;
  flex: 300px;
}

.one {
  min-width: 1000px;
}
