div.a{
  width: 150px;
  height: 80px;
  background-color:lightgoldenrodyellow;
  transform: rotate(0deg);
  transition: transform 5s;
}
div.a:hover{
  transform: rotate(45deg);
}

div.b{
  width: 150px;
  height: 80px;
  background-color: lightpink;
}
div.b:hover{
  transform: scale(2);
}

div.c{
  width: 150px;
  height: 80px;
  background-color: #C3CDE6;
}
div.c:hover{
  transform:translateX(45px);
}

div.d{
  width: 150px;
  height: 80px;
  background-color: lightblue;
}
div.d:hover{
  transform:translate(45px, 45px);
}
