.wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    text-align: center;
    color:white;
    font-family: Arial,Helvetica,sans-serif;
    font-size:24px;
}


#item1{
	background-color: #B2D6FF;
	grid-column-start: 1;
    grid-column-end: 3;

}
#item2{
	background-color: #FFA07A;
	grid-row-start: 2;
    grid-row-end: 4;
}
#item3{
	background-color: #FCFC40;
}
#item4{
	background-color: #93EC90;
	grid-column-start: 2;
    grid-column-end: 4;
}
#item5{
	background-color: #EC90EC;
}
#item6{
	background-color: #0DFCFC;
}
